html{
  padding: 0;
  margin: 0;
  font-size: 16px;
  user-select: none;
}

body{
  padding: 0;
  margin: 0;
}

div::-webkit-scrollbar{
  width:3px;
  height:3px;
}
div::-webkit-scrollbar-track{
  /* background: rgba(0, 0, 0， 0.1); */
  border-radius:2px;
  opacity: 0;
}
.dark div::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.5);
  border-radius:5px;
}
.light div::-webkit-scrollbar-thumb{
  background: rgba(198,4,77,0.2);
  border-radius:5px;
}
.dark div::-webkit-scrollbar-thumb:hover{
  background: #333;
}
.light div::-webkit-scrollbar-thumb:hover{
  background: #c6044d;
}

div::-webkit-scrollbar-corner{
  /* background: rgba(0, 0, 0， 0.1); */
  opacity: 0;
}

/*  主题1  */
.container{
  width: 100%;
  height: 100%;
  position: relative;
}
.dark .container{
  background: #000711;
}
.light .container{
  background: #ffffff;
}
.blue .container{
  background: #06182e;
}

.nav{
  height: 90px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.dark .nav{
  background-color: #0a305f;
  background-image: url(../images/bgd-nav.png);
}
.light .nav{
  background-image: url(../images/bgd-nav-light.png);
}


.theme-select-btn{
  right: 1.25%;
  top: 0px;
  line-height: 28px;
  position: absolute;
  font-size: 16px;
  cursor: pointer;
}
.dark .theme-select-btn{
  color: #dce2f2;
}
.light .theme-select-btn{
  color: #c6044d;
}
.blue .theme-select-btn{
  color: #ffffff;
  top: 15px;
}

.theme-select-menu{
  position: absolute;
  right: 0;
  top: 30px;
  width: 180px;
  font-size: 14px;
  text-align: center;
  background: #16d2c3;
  z-index: 999;
  color: #dce2f2;
}
.blue .theme-select-menu{
  top: 45px;
}

.theme-select-item{
  line-height: 40px;
  cursor: pointer;
}


.nav-menu{
  width: 25%;
  height: 44px;
  position: absolute;
  top: 43px;
}

.nav-menu-long{
  margin-left: 300px;
  margin-right: 110px;
  background: url(../images/bgd-nav-2.png) bottom no-repeat;
  background-size: auto 40px;
  padding-bottom: 20px;
}

.dark .nav-menu-inner, .light .nav-menu-inner{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-size: 100% 40px; */
  background-repeat: no-repeat;
  padding: 1px 0;
}
.blue .nav-menu-inner{
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}

.dark .nav-menu-inner{
  color: #dce2f2;
}
.light .nav-menu-inner{
  color: #ffffff;
}

.nav-title{
  text-align: center;
  font-weight: bold;
}
.dark .nav-title{
  padding: 15px;
  font-size: 32px;
  color: #dce2f2;
}
.light .nav-title{
  padding: 15px;
  font-size: 32px;
  color: #c6044d;
}
.blue .nav-title{
  position: absolute;
  left: 0;
  top: 20px;
  line-height: 50px;
  font-size: 27px;
  width: 300px;
  color: #1bddd3;
}

.nav-menu-left{
  left: 1.25%;
}
.nav-menu-right{
  right: 1.25%;
}

.dark .nav-item, .light .nav-item{
  float: left;
  width: 30%;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
  /* display: inline-block; */
  padding: 10px 0;
}
.blue .nav-item{
  float: left;
  width: 16.66%;
  /* display: inline-block; */
  padding: 20px 0px 25px 0px;
  line-height: 20px;
}

.dark .nav-item span.nav-border-rt{
  border-right: 1px solid #16d2c3;
  display: block;
}
.light .nav-item span.nav-border-rt{
  border-right: 1px solid #d75083;
  display: block;
}
.blue .nav-item span.nav-border-lf{
  border-left: 1px solid #1ff1e5;
  display: block;
}

.dark .nav-item.active{
  color: #1ff1e5;
  font-weight: bold;
  background: #000711;
}
.light .nav-item.active{
  font-weight: bold;
  background: #77022e;
}
.blue .nav-item.active{
  color: #1ff1e5;
  font-weight: bold;
}

.nav-item.left-angle, .nav-item.right-angle{
  width: 40%;
}
.nav-item.left-angle span{
  margin-right: 25%;
}
.nav-item.right-angle span{
  margin-left: 25%;
}
.dark .nav-item.left-angle.active{
  background: url(../images/nav-active-left.png) center center no-repeat;
  background-size: 100% 100%;
}
.light .nav-item.left-angle.active{
  background: url(../images/nav-active-left-light.png) center center no-repeat;
  background-size: 100% 100%;
}

.dark .nav-item.right-angle.active{
  background: url(../images/nav-avtive-right.png) center center no-repeat;
  background-size: 100% 100%;
}
.light .nav-item.right-angle.active{
  background: url(../images/nav-avtive-right-light.png) center center no-repeat;
  background-size: 100% 100%;
}

.main-container{
  position: relative;
  padding: 20px;
}

.mid-container-outer {
  margin: 0px 350px 0px 350px;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
}
.dark .mid-container-outer{
  background: url(../images/bgd-line.png) left center no-repeat;
}
.light .mid-container-outer{
  background: url(../images/bgd-line-light.png) left center no-repeat;
}
.mid-container-inner {
  height: 100%;
  padding: 0 20px;
  position: relative;
}
.dark .mid-container-inner{
  background: url(../images/bgd-line.png) right center no-repeat;
}
.light .mid-container-inner{
  background: url(../images/bgd-line-light.png) right center no-repeat;
}

.aside-dialog-group{
  position: absolute;
  width: 330px;
  top: 20px;
  overflow: scroll;
}
.aside-lf{
  left: 20px;
}
.aside-rt{
  right: 20px;
}

.aside-dialog{
  position: relative;
  margin-bottom: 20px;
  padding: 1px;
}
.aside-dialog-inner{
  height: 220px;
  box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,.2);
  padding: 10px;
}
.aside-dialog-inner.large{
  height: 400px;
}
.dark .aside-dialog-inner{
  border-radius: 0px 16px 0 16px;
  border: 1px solid #2469a2;
}
.light .aside-dialog-inner{
  border: 1px solid #c6044d;
  border-radius: 0px 16px 0 16px;
}
.blue .aside-dialog-inner{
  border: 1px solid #3aaafe;
}

/*********** angles ****************/
/* nav angle */
.nav-angle-common{
  display: block;
  width: 9px;
  height: 8px;
  display: block;
  position: absolute;
  z-index: 10;
}
.dark .nav-angle-common{
  border-color: #16d2c3;
}
.light .nav-angle-common{
  border-color: #c6044d;
}
.blue .nav-angle-common{
  border-color: #1cd1d4;
}


.nav-angle-1{
  left: 0px;
  top: 0px;
}
.dark .nav-angle-1{
  border-left: 2px solid #16d2c3;
  border-top: 2px solid #16d2c3;
}
.light .nav-angle-1{
  border-left: 2px solid #c6044d;
  border-top: 2px solid #c6044d;
}
.blue .nav-angle-1{
  border-left: 2px solid #1cd1d4;
  border-top: 2px solid #1cd1d4;
}

.nav-angle-2{
  right: 0px;
  top: 0px;
}
.dark .nav-angle-2{
  border-right: 2px solid #16d2c3;
  border-top: 2px solid #16d2c3;
}
.light .nav-angle-2{
  border-right: 2px solid #c6044d;
  border-top: 2px solid #c6044d;
}
.blue .nav-angle-2{
  border-right: 2px solid #1cd1d4;
  border-top: 2px solid #1cd1d4;
}

.nav-angle-3{
  left: 0px;
  bottom: 0px;
}
.dark .nav-angle-3{
  border-left: 2px solid #16d2c3;
  border-bottom: 2px solid #16d2c3;
}
.light .nav-angle-3{
  border-left: 2px solid #c6044d;
  border-bottom: 2px solid #c6044d;
}
.blue .nav-angle-3{
  border-left: 2px solid #1cd1d4;
  border-bottom: 2px solid #1cd1d4;
}

.nav-angle-4{
  right: 0px;
  bottom: 0px;
}
.dark .nav-angle-4{
  border-right: 2px solid #16d2c3;
  border-bottom: 2px solid #16d2c3;
}
.light .nav-angle-4{
  border-right: 2px solid #c6044d;
  border-bottom: 2px solid #c6044d;
}
.blue .nav-angle-4{
  border-right: 2px solid #1cd1d4;
  border-bottom: 2px solid #1cd1d4;
}

.mid-container-angle{
  position: absolute;
  width: 20px;
  height: 21px;
  background-size: 100%;
}
.mid-container-angle-left-top{
  left: 10px;
  top: -8px;
}
.dark .mid-container-angle-left-top{
  border-left: 2px solid #16d2c3;
  border-top: 2px solid #16d2c3;
}
.light .mid-container-angle-left-top{
  border-left: 2px solid #c6044d;
  border-top: 2px solid #c6044d;
}
.blue .mid-container-angle-left-top{
  border-left: 2px solid #1cd1d4;
  border-top: 2px solid #1cd1d4;
}

.mid-container-angle-left-bottom{
  left: 10px;
  bottom: -8px;
}
.dark .mid-container-angle-left-bottom{
  border-left: 2px solid #16d2c3;
  border-bottom: 2px solid #16d2c3;
}
.light .mid-container-angle-left-bottom{
  border-left: 2px solid #c6044d;
  border-bottom: 2px solid #c6044d;
}
.blue .mid-container-angle-left-bottom{
  border-left: 2px solid #1cd1d4;
  border-bottom: 2px solid #1cd1d4;
}

.mid-container-angle-right-top{
  right: 10px;
  top: -8px;
}
.dark .mid-container-angle-right-top{
  border-right: 2px solid #16d2c3;
  border-top: 2px solid #16d2c3;
}
.light .mid-container-angle-right-top{
  border-right: 2px solid #c6044d;
  border-top: 2px solid #c6044d;
}
.blue .mid-container-angle-right-top{
  border-right: 2px solid #1cd1d4;
  border-top: 2px solid #1cd1d4;
}

.mid-container-angle-right-bottom{
  right: 10px;
  bottom: -8px;
}
.dark .mid-container-angle-right-bottom{
  right: 10px;
  bottom: -8px;
  border-right: 2px solid #16d2c3;
  border-bottom: 2px solid #16d2c3;
}
.light .mid-container-angle-right-bottom{
  right: 10px;
  bottom: -8px;
  border-right: 2px solid #c6044d;
  border-bottom: 2px solid #c6044d;
}
.blue .mid-container-angle-right-bottom{
  right: 10px;
  bottom: -8px;
  border-right: 2px solid #1cd1d4;
  border-bottom: 2px solid #1cd1d4;
}

.aside-dialog-angle{
  position: absolute;
  width: 12px;
  height: 13px;
  background-size: 100%;
  z-index: 99;
}
.aside-dialog-angle-1{
  left: 0px;
  top: 0px;
}
.dark .aside-dialog-angle-1{
  border-left: 2px solid #16d2c3;
  border-top: 2px solid #16d2c3;
}
.light .aside-dialog-angle-1{
  border-left: 2px solid #c6044d;
  border-top: 2px solid #c6044d;
}
.blue .aside-dialog-angle-1{
  border-left: 2px solid #1cd1d4;
  border-top: 2px solid #1cd1d4;
}

.aside-dialog-angle-2{
  right: 0px;
  bottom: 0px;
}
.dark .aside-dialog-angle-2{
  border-right: 2px solid #16d2c3;
  border-bottom: 2px solid #16d2c3;
}
.light .aside-dialog-angle-2{
  border-right: 2px solid #c6044d;
  border-bottom: 2px solid #c6044d;
}
.blue .aside-dialog-angle-2{
  border-right: 2px solid #1cd1d4;
  border-bottom: 2px solid #1cd1d4;
}

.blue .aside-dialog-angle-3{
  left: 0;
  bottom: 0;
  border-left: 2px solid #1cd1d4;
  border-bottom: 2px solid #1cd1d4;
}
.blue .aside-dialog-angle-4{
  right: 0;
  top: 0;
  border-right: 2px solid #1cd1d4;
  border-top: 2px solid #1cd1d4;
}



.map-inner{
  width: 100%;
  height: 100%;
}

.chart-inner{
  height: inherit;
}



